@using blazorTest.Client.Shared.Components

@typeparam TItem
<div>
    <span>
        @if (Value.IsEnabled)
        {
            <InputCheckbox Value="@Value.IsSelected" ValueChanged="@(newValue => Value.IsSelected = newValue)" />
        }
    </span>
    <span>@DataTemplate(Value.Value)</span>
</div>


@code {
    [Parameter]
    public SelectableContext<TItem> Value { get; set; }

    [Parameter]
    public RenderFragment<TItem> DataTemplate { get; set; }
}
