@typeparam TItem

<ul>
    @foreach (var item in Items)
    {
    <li style="display: inline-block;">
        ItemTemplate(item);
    </li>
    }
</ul>


@code {
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public List<TItem> Items { get; set; }
}
