@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Eメールによるユーザー確認は実装途中です。この<a id="confirm-link" href="@Model.EmailConfirmationUrl">リンクをクリックして</a>確認処理を省略してロビーに進むことができます。
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
