@page "/chat/{roomId:guid}"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using blazorTest.Shared;
@using blazorTest.Shared.Models;
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@implements IDisposable

<style type="text/css">
    .layout {
        display: grid;
        height: calc(100vh - 100px);
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vh - 150px) 50px; /* adjustment */
    }

    .content {
        grid-column: 1;
        grid-row: 1;
        overflow-y: scroll;
    }

    .input {
        grid-column: 1;
        grid-row: 2;
    }
</style>

<div class="layout">
    <AuthorizeView>
        <Authorized>
            <div class="content">
                <ul id="messageList">
                    @foreach (var message in messages)
                    {
                        <PostItem Name="@message.HandleName" Message="@message.MessageContext" />
                    }
                </ul>
            </div>
            <div class="form-group" input>
                <label>
                    <input @bind="messageInput" size="50" />
                    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
                </label>
            </div>

        </Authorized>
    </AuthorizeView>
</div>

@code {
    private HubConnection hubConnection;

    private List<Message> messages = new List<Message>();

    private string messageInput;

    [Parameter]
    public Guid roomId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<Message>(
            SignalRMehod.ReceiveMessage, (message) =>
            {
                messages.Add(message);
                StateHasChanged();
            });

        await hubConnection.StartAsync();

        var nowDate = DateTime.Now;
        var request = new ChatPostPostRequest() { RoomId = roomId, NeedMessageTailDate = nowDate };

        var response = await HttpClient
            .PostAsJsonAsync<ChatPostPostRequest>("Post", request);

        messages = await response.Content
            .ReadFromJsonAsync<List<Message>>();

    }

    async Task Send()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var message = new Message()
        {
            UserEmail = authState.User.Identity.Name,
            HandleName = authState.User.Claims.FirstOrDefault(each => each.Type == "HandleName")?.Value,
            MessageContext = messageInput,
            RoomId = roomId
        };

        await hubConnection.SendAsync(
            SignalRMehod.SendMessage, message);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

}