@using Microsoft.AspNetCore.Authorization
@using blazorTest.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@attribute [Authorize]
@page "/"

<AuthorizeView>
    <Authorized>
        @{ userEmail = context.User.Identity.Name;}
        <h3>チャットルームを選択してください</h3>
        <ul id="roomList">
            @if (rooms is null)
            {
                <li>ルームを読み取り中…</li>
            }
            else if (rooms.Count == 0)
            {
                <li>ルームがありません</li>
            }
            else
            {
                @foreach (var room in rooms)
                {
                    <li><a href="chat/@room.Id">@room.Name</a></li>
                }
            }
        </ul>

        <div>ルーム名 : </div>
        <input type="text" @bind="newRoomName" />
        <button class="btn btn-primary" @onclick="CreateRoom">新規ルーム作成</button>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private bool CanCareateNewRoom => !string.IsNullOrWhiteSpace(newRoomName);

    private string newRoomName = string.Empty;

    private string userEmail;

    private List<UserRoom> rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await HttpClient
            .GetFromJsonAsync<List<UserRoom>>("Room");
    }

    private async Task CreateRoom()
    {
        if (!CanCareateNewRoom)
            return;

        var result = await HttpClient.PostAsJsonAsync<CreateRoom>("Room", new CreateRoom { RoomName = newRoomName, UserIds = new List<string> { userEmail } });

        rooms = await HttpClient
            .GetFromJsonAsync<List<UserRoom>>("Room");
    }
}
