@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row justify-content-end top-row">
                <a class="col-2 nav-link btn btn-link" href="authentication/profile">@(context.User.Claims.FirstOrDefault(each => each.Type == "HandleName")?.Value) さん</a>
                <button class="col-2 nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container">
            <div class="row justify-content-end top-row">
                <a class="col-2 nav-link btn btn-link" href="authentication/register">Register</a>
                <a class="col-2 nav-link btn btn-link" href="authentication/login">Log in</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
