@inherits LayoutComponentBase

<style type="text/css">
    .app-layout {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 32px 250px 1fr;
        grid-template-rows: auto 1fr;
    }
    .teams {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .sidebar {
        grid-column: 2;
        grid-row: 1 / 3;
    }

    .header {
        grid-column: 3;
        grid-row: 1;
    }

    .body {
        grid-column: 3;
        grid-row: 2;
    }
</style>

<div class="app-layout">
    <div class="teams"></div>
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="header">
        <LoginDisplay />
    </div>
    <div class="body">
        @Body
    </div>
</div>