@using ChatApp.Client.ViewModel;
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpClientFactory IHttpClientFactory
@implements MainLayout.IIndexPresenter

<style type="text/css">
    .app-layout {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 250px 1fr auto auto;
        grid-template-rows: 3.5rem 1fr;
    }

    .teams {
        grid-column: 0;
        grid-row: 1 / 3;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .header {
        grid-column: 2;
        grid-row: 1;
    }

    .body {
        grid-column: 2;
        grid-row: 2;
    }
</style>

<div class="app-layout">
    <div class="teams"></div>
    <div class="sidebar">
        <CascadingValue Value="viewModel">
            <NavMenu />
        </CascadingValue>
    </div>
    <div class="header .main .top-row">
        <LoginDisplay />
    </div>
    <div class="body">
        <CascadingValue Value="viewModel">
            @Body
        </CascadingValue>
    </div>
</div>

@code {

    public interface IIndexPresenter
    {
        Task<string> GetUserIdAsync();

        IHttpClientFactory GetHttpClientFactory();

        void Invalidate();
    }

    public async Task<string> GetUserIdAsync()
        => (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;

    public IHttpClientFactory GetHttpClientFactory() => IHttpClientFactory;

    public void Invalidate() => StateHasChanged();

    private IndexViewModel viewModel { get; set; }

    protected override void OnInitialized()
    {
        viewModel = new((IIndexPresenter)this);
    }
}