@using Oniqys.Blazor.Controls
@using ChatApp.Client.ViewModel
@using ChatApp.Client.Pages
@inherits ViewComponentBase<PostViewModel>

<div class="form-group margin-left input">
    <div class="row margin">
        @if (DataContext != null)
        {
            <textarea class="col margin inputbox" @bind=@DataContext.InputText @bind:event="oninput" @onkeydown=@OnKeyDown id="@DataContext.TextAreaId" />
            <Button Class="col-md-auto margin btn btn-primary" Context="button_context" DataContext="DataContext.MessageSender">送信(Alt+Enter)</Button>
        }
    </div>
</div>

@code {
    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.AltKey && (e.Code == "Enter" || e.Code == "NumpadEnter"))
        {
            if (string.IsNullOrWhiteSpace(DataContext?.InputText))
                return;

            await DataContext?.MessageSender?.Command?.Execute();
        }
    }
}
