<style type="text/css">
    .message {
        text-indent: 1em;
    }
</style>



<div>
    <small class="text-white-50">@Name</small>
    <div class="rounded border border-dark bg-dark message text-white">
        <span>@Message</span>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

}
