<style type="text/css">
    .message {
        text-indent: 1em;
    }
</style>

<div>
    <small class="text-white-50">@Name</small>
    <small class="text-white-50"> (@CreateDate.)</small>
    <div class="rounded border border-dark bg-dark text-white">
        @foreach (var line in Message?.Split("\n") ?? Enumerable.Empty<string>())
        {
            <div class="message text-white">
                <span>@line</span>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public DateTime CreateDate { get; set; }

}