<div>
    <small>@Name</small>
    <div class="rounded border border-dark bg-light">
        <span>@Message</span>
    </div>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Message { get; set; }

}
