@using ChatApp.Client.ViewModel;
@using Oniqys.Blazor.Controls;
@inherits ViewComponentBase<UserListViewModel>


<div class="userlist">
    <div class="header">
        <button class="col-md-auto margin btn btn-info" @onclick="DataContext.AddUsers">招待</button>
        <button class="col-md-auto margin btn btn-danger" @onclick="DataContext.LeaveRoom">退室</button>
    </div>
    <div style="margin-top: 10px;">
        <UserSelector DataContext="DataContext.Users" />
    </div>
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        DataContext.PropertyChanged += (s, e) => StateHasChanged();

        return base.OnInitializedAsync();
    }
}
