@using ChatApp.Client.ViewModel
@using ChatApp.Shared.Models
@using Oniqys.Blazor.Controls
@using ChatApp.Client.Pages;
@inherits ViewComponentBase<PostViewModel>



<div class="rounded border border-dark">
    @foreach (var thread in DataContext.Messages)
    {
        <div id="@thread.Id" class="margin">
            <PostItem Message="thread" />
        </div>
    }
    <MessageInput DataContext="DataContext" />
</div>
